Source: linux-signed-arm64
Section: kernel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>, maximilian attems <maks@debian.org>, Ben Hutchings <benh@debian.org>, Salvatore Bonaccorso <carnil@debian.org>
Standards-Version: 4.2.0
Build-Depends: debhelper-compat (= 13), python3:any, sbsigntool [amd64 arm64]
Build-Depends-Arch: kernel-wedge (>= 2.105~) [arm64] <!pkg.linux.nokernel> <pkg.linux.quick !noudeb !pkg.linux.nokernel>, kmod [arm64] <!pkg.linux.nokernel> <pkg.linux.quick !noudeb !pkg.linux.nokernel>, linux-image-6.18.15+pexip25-arm64-16k-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>, linux-image-6.18.15+pexip25-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>, linux-image-6.18.15+pexip25-cloud-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>, linux-image-6.18.15+pexip25-rt-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>, linux-image-6.18.15+pexip25-test-unsigned (= @signedtemplate_binaryversion@) [arm64] <pkg.linux.quick !pkg.linux.nokernel>, rsync [arm64] <!pkg.linux.nokernel>
Rules-Requires-Root: no
Homepage: https://www.kernel.org/
Vcs-Browser: https://salsa.debian.org/kernel-team/linux
Vcs-Git: https://salsa.debian.org/kernel-team/linux.git

Package: linux-base-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-6.18.15+pexip25-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-base-arm64-16k
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-6.18.15+pexip25-arm64-16k (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines with 16k pages (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-base-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-6.18.15+pexip25-cloud-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for arm64 cloud (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-base-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-6.18.15+pexip25-rt-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-base-test
Architecture: arm64
Build-Profiles: <pkg.linux.quick !pkg.linux.nokernel !pkg.linux.nometa>
Depends: linux-base-6.18.15+pexip25-test (= ${binary:Version}), ${misc:Depends}
Description: Linux for  (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-headers-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-headers-generic
Depends: linux-base-arm64 (= ${binary:Version}), linux-headers-6.18.15+pexip25-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel arm64 configuration.

Package: linux-headers-arm64-16k
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-arm64-16k (= ${binary:Version}), linux-headers-6.18.15+pexip25-arm64-16k (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux arm64-16k configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel arm64-16k configuration.

Package: linux-headers-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-cloud-arm64 (= ${binary:Version}), linux-headers-6.18.15+pexip25-cloud-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux cloud-arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel cloud-arm64 configuration.

Package: linux-headers-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-rt-arm64 (= ${binary:Version}), linux-headers-6.18.15+pexip25-rt-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux rt-arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel rt-arm64 configuration.

Package: linux-headers-test
Architecture: arm64
Build-Profiles: <pkg.linux.quick !pkg.linux.nokernel !pkg.linux.nometa>
Depends: linux-base-test (= ${binary:Version}), linux-headers-6.18.15+pexip25-test (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux test configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel test configuration.

Package: linux-image-6.18.15+pexip25-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.18.15-1+pexip25u1)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [arm64] | initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64], kmod, linux-base-6.18.15+pexip25-arm64 (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [arm64]
Suggests: debian-kernel-handbook, firmware-linux-free, linux-doc-6.18
Replaces: linux-image-6.18.15+pexip25-arm64-unsigned
Breaks: flash-kernel (<< 3.110~) [arm64], fwupdate (<< 12-7) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64], reform-tools (<< 1.83~) [arm64], u-boot-efi-dtb (<< 5~) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64]
Conflicts: linux-image-6.18.15+pexip25-arm64-unsigned
Description: Linux 6.18.15 for 64-bit ARMv8 machines (signed)
 The Linux kernel 6.18.15 and modules for use on 64-bit ARMv8 machines.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-6.18.15+pexip25-arm64-16k
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.18.15-1+pexip25u1)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [arm64] | initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64], kmod, linux-base-6.18.15+pexip25-arm64-16k (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [arm64]
Suggests: debian-kernel-handbook, firmware-linux-free, linux-doc-6.18
Replaces: linux-image-6.18.15+pexip25-arm64-16k-unsigned
Breaks: flash-kernel (<< 3.110~) [arm64], fwupdate (<< 12-7) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64], reform-tools (<< 1.83~) [arm64], u-boot-efi-dtb (<< 5~) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64]
Conflicts: linux-image-6.18.15+pexip25-arm64-16k-unsigned
Description: Linux 6.18.15 for 64-bit ARMv8 machines with 16k pages (signed)
 The Linux kernel 6.18.15 and modules for use on 64-bit ARMv8 machines with
 16k pages.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-6.18.15+pexip25-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.18.15-1+pexip25u1)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [arm64] | initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64], kmod, linux-base-6.18.15+pexip25-cloud-arm64 (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [arm64]
Suggests: debian-kernel-handbook, firmware-linux-free, linux-doc-6.18
Replaces: linux-image-6.18.15+pexip25-cloud-arm64-unsigned
Breaks: flash-kernel (<< 3.110~) [arm64], fwupdate (<< 12-7) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64], reform-tools (<< 1.83~) [arm64], u-boot-efi-dtb (<< 5~) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64]
Conflicts: linux-image-6.18.15+pexip25-cloud-arm64-unsigned
Description: Linux 6.18.15 for arm64 cloud (signed)
 The Linux kernel 6.18.15 and modules for use on cloud platforms supporting
 arm64 virtual machines.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-6.18.15+pexip25-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.18.15-1+pexip25u1)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [arm64] | initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64], kmod, linux-base-6.18.15+pexip25-rt-arm64 (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [arm64]
Suggests: debian-kernel-handbook, firmware-linux-free, linux-doc-6.18
Replaces: linux-image-6.18.15+pexip25-rt-arm64-unsigned
Breaks: flash-kernel (<< 3.110~) [arm64], fwupdate (<< 12-7) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64], reform-tools (<< 1.83~) [arm64], u-boot-efi-dtb (<< 5~) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64]
Conflicts: linux-image-6.18.15+pexip25-rt-arm64-unsigned
Description: Linux 6.18.15 for 64-bit ARMv8 machines (signed), PREEMPT_RT
 The Linux kernel 6.18.15 and modules for use on 64-bit ARMv8 machines.
 .
 The kernel image is signed for use with Secure Boot.
 .
 This kernel is configured with PREEMPT_RT real time support.

Package: linux-image-6.18.15+pexip25-test
Architecture: arm64
Build-Profiles: <pkg.linux.quick !pkg.linux.nokernel>
Built-Using: linux (= 6.18.15-1+pexip25u1)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [arm64] | initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64], kmod, linux-base-6.18.15+pexip25-test (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [arm64]
Suggests: debian-kernel-handbook, firmware-linux-free, linux-doc-6.18
Replaces: linux-image-6.18.15+pexip25-test-unsigned
Breaks: flash-kernel (<< 3.110~) [arm64], fwupdate (<< 12-7) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64], reform-tools (<< 1.83~) [arm64], u-boot-efi-dtb (<< 5~) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64]
Conflicts: linux-image-6.18.15+pexip25-test-unsigned
Description: Linux 6.18.15 for  (signed)
 The Linux kernel 6.18.15 and modules for use on .
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-image-generic, linux-latest-modules-6.18.15+pexip25-arm64, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 64-bit ARMv8 machines.

Package: linux-image-arm64-16k
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.18.15+pexip25-arm64-16k, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-arm64-16k (= ${binary:Version}), linux-image-6.18.15+pexip25-arm64-16k (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines with 16k pages (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 64-bit ARMv8 machines with 16k pages.

Package: linux-image-arm64-16k-dbg
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-arm64-16k (= ${binary:Version}), linux-image-6.18.15+pexip25-arm64-16k-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux arm64-16k configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel arm64-16k configuration.

Package: linux-image-arm64-dbg
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-arm64-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux arm64 configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel arm64 configuration.

Package: linux-image-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.18.15+pexip25-cloud-arm64, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-cloud-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-cloud-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for arm64 cloud (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 cloud platforms supporting arm64 virtual machines.

Package: linux-image-cloud-arm64-dbg
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-cloud-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-cloud-arm64-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux cloud-arm64 configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel cloud-arm64 configuration.

Package: linux-image-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.18.15+pexip25-rt-arm64, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-rt-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-rt-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 64-bit ARMv8 machines.

Package: linux-image-rt-arm64-dbg
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-rt-arm64 (= ${binary:Version}), linux-image-6.18.15+pexip25-rt-arm64-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux rt-arm64 configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel rt-arm64 configuration.

Package: linux-image-test
Architecture: arm64
Build-Profiles: <pkg.linux.quick !pkg.linux.nokernel !pkg.linux.nometa>
Provides: linux-latest-modules-6.18.15+pexip25-test, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-test (= ${binary:Version}), linux-image-6.18.15+pexip25-test (= ${binary:Version}), ${misc:Depends}
Description: Linux for  (meta-package)
 This package depends on the latest Linux kernel and modules for use on .

Package: linux-image-test-dbg
Architecture: arm64
Build-Profiles: <pkg.linux.quick !pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-test (= ${binary:Version}), linux-image-6.18.15+pexip25-test-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux test configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel test configuration.

Package: kernel-image-6.18.15+pexip25-arm64-di
Architecture: arm64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: kernel-image
Kernel-Version: 6.18.15+pexip25-arm64
Description: Linux kernel image and core modules for the Debian installer
 This package contains the kernel image and core modules for the Debian
 installer boot images.  It does _not_ provide a usable kernel for your
 full Debian system.

Package: kernel-image-6.18.15+pexip25-test-di
Architecture: arm64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <pkg.linux.quick !noudeb !pkg.linux.nokernel>
Provides: kernel-image
Kernel-Version: 6.18.15+pexip25-test
Description: Linux kernel image and core modules for the Debian installer
 This package contains the kernel image and core modules for the Debian
 installer boot images.  It does _not_ provide a usable kernel for your
 full Debian system.

