Source: linux-signed-amd64
Section: kernel
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Standards-Version: 4.2.0
Build-Depends: debhelper-compat (= 13), python3:any, sbsigntool [amd64 arm64]
Build-Depends-Arch: kernel-wedge (>= 2.105~) [amd64] <!pkg.linux.nokernel !pkg.linux.quick>, kmod [amd64] <!pkg.linux.nokernel !pkg.linux.quick>, linux-image-6.18.22+pexip25+2-amd64-unsigned (= @signedtemplate_binaryversion@) [amd64] <!pkg.linux.nokernel !pkg.linux.quick>, rsync [amd64] <!pkg.linux.nokernel !pkg.linux.quick>
Rules-Requires-Root: no
Homepage: https://www.kernel.org/
Vcs-Browser: https://salsa.debian.org/kernel-team/linux
Vcs-Git: https://salsa.debian.org/kernel-team/linux.git
XSBC-Pexip-Original-Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
XSBC-Pexip-Original-Uploaders: Bastian Blank <waldi@debian.org>, maximilian attems <maks@debian.org>, Ben Hutchings <benh@debian.org>, Salvatore Bonaccorso <carnil@debian.org>

Package: linux-base-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-base-6.18.22+pexip25+2-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for Pexip x86-64 cloud (dummy package)
 This package contains files common to all Linux kernel packages.

Package: linux-headers-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-headers-generic
Depends: linux-base-amd64 (= ${binary:Version}), linux-headers-6.18.22+pexip25+2-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux amd64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel amd64 configuration.

Package: linux-image-6.18.22+pexip25+2-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.18.22-1+pexip25u3)
Pre-Depends: linux-base (>= 4.12~)
Depends: dracut [amd64] | initramfs-tools (>= 0.120+deb8u2) [amd64] | linux-initramfs-tool [amd64], kmod, linux-base-6.18.22+pexip25+2-amd64 (= @signedtemplate_binaryversion@), ${misc:Depends}
Recommends: apparmor [amd64]
Suggests: debian-kernel-handbook, firmware-linux-free, grub-pc [amd64] | grub-efi-amd64 [amd64] | extlinux [amd64], linux-doc-6.18
Replaces: linux-image-6.18.22+pexip25+2-amd64-unsigned
Breaks: fwupdate (<< 12-7) [amd64], initramfs-tools (<< 0.120+deb8u2) [amd64], wireless-regdb (<< 2019.06.03-1~) [amd64]
Conflicts: linux-image-6.18.22+pexip25+2-amd64-unsigned
Description: Linux 6.18.22 for Pexip x86-64 cloud (signed)
 The Linux kernel 6.18.22 and modules for use on Pexip OS on x86-64 cloud
 platforms.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-image-generic, linux-latest-modules-6.18.22+pexip25+2-amd64, virtualbox-guest-modules [amd64], wireguard-modules (= 1.0.0)
Depends: linux-base-amd64 (= ${binary:Version}), linux-image-6.18.22+pexip25+2-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for Pexip x86-64 cloud (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 Pexip OS on x86-64 cloud platforms.

Package: linux-image-amd64-dbg
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nokerneldbg !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-image-dbg
Depends: linux-base-amd64 (= ${binary:Version}), linux-image-6.18.22+pexip25+2-amd64-dbg (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Linux amd64 configuration (meta-package)
 This package depends on the detached debugging symbols for the latest
 Linux kernel amd64 configuration.

